[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
catboost = "*"
imbalanced-learn = "*"
ipython = "*"
lime = "*"
nltk = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
shap = "*"
spacy = "*"
termcolor = "*"
torch = "*"
transformers = "*"

[dev-packages]
pytest-mypy = "*"
pytest-cov = "*"
types-requests = "*"
flake8 = "*"
pytest = "*"
bandit = "*"
jupyter = "*"

[requires]
python_version = "3.8"
